@using EFCore.AppLib.CodeFirst.Entities
@using EFCore.ViewModels

@model AdresViewModel

@section headSection {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
}

<h3 class="mt-4">Citiy List of Turkey</h3>
<a class="btn btn-primary" href="@Url.Content("~/Data/Iller")">List Cities</a>
<a class="btn btn-primary" href="@Url.Content("~/")">Home</a>

@{
    if (Model != null)
    {
        if ((Model as AdresViewModel).Iller != null)
        {
            <div class="container bg-light p-5 mt-4">

                <h2>Cities</h2><hr />

                <table id="dts1" class="display">
                    <thead>
                        <tr>
                            <th>City Code</th>
                            <th>City Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (IL i in (Model as AdresViewModel).Iller)
                        {
                            <tr>
                                <td>@i.IlKodu</td>
                                <td>@Html.ActionLink(linkText:i.IlAdi, actionName:"Ilceler", controllerName: "Data", new { ilkodu = i.IlKodu })</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        }

        if ((Model as AdresViewModel).Ilceler != null)
        {
            <div class="container bg-light p-5 mt-5">

                <h2>Counties</h2><hr />

                <table id="dts2" class="display">
                    <thead>
                        <tr>
                            <th>City Code</th>
                            <th>City Name</th>
                            <th>County Code</th>
                            <th>County Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ILCE i in (Model as AdresViewModel).Ilceler)
                        {
                            <tr>
                                <td>@i.Il.IlKodu</td>
                                <td>@i.Il.IlAdi</td>
                                <td>@i.IlceKodu</td>
                                <td>@Html.ActionLink(linkText: i.IlceAdi, actionName: "Sbbler", controllerName: "Data", new { ilcekodu = i.IlceKodu })</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        }

        if ((Model as AdresViewModel).Sbbler != null)
        {
            <div class="container bg-light p-5 mt-5">

                <h2>Towns</h2><hr />

                <table id="dts3" class="display">
                    <thead>
                        <tr>
                            <th>City Code</th>
                            <th>City Name</th>
                            <th>County Code</th>
                            <th>County Name</th>
                            <th>Town Code</th>
                            <th>Town Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (SBB i in (Model as AdresViewModel).Sbbler)
                        {
                            <tr>
                                <td>@i.Ilce.IlKodu</td>
                                <td>@i.Ilce.Il.IlAdi</td>
                                <td>@i.IlceKodu</td>
                                <td>@i.Ilce.IlceAdi</td>
                                <td>@i.SbbKodu</td>
                                <td>@Html.ActionLink(linkText: i.SemtBucakBeldeAdi, actionName: "Mahalleler", controllerName: "Data", new { sbbkodu = i.SbbKodu })</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        }

        if ((Model as AdresViewModel).Mahalleler != null)
        {
            <div class="container bg-light p-5 mt-5">

                <h2>Districts</h2><hr />

                <table id="dts4" class="display">
                    <thead>
                        <tr>
                            <th>City Code</th>
                            <th>City Name</th>
                            <th>County Code</th>
                            <th>County Name</th>
                            <th>Town Code</th>
                            <th>Town Name</th>
                            <th>District Code</th>
                            <th>District Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (MAHALLE i in (Model as AdresViewModel).Mahalleler)
                        {
                            <tr>
                                <td>@i.SemtBucakBelde.Ilce.Il.IlKodu</td>
                                <td>@i.SemtBucakBelde.Ilce.Il.IlAdi</td>
                                <td>@i.SemtBucakBelde.Ilce.IlceKodu</td>
                                <td>@i.SemtBucakBelde.Ilce.IlceAdi</td>
                                <td>@i.SemtBucakBelde.SbbKodu</td>
                                <td>@i.SemtBucakBelde.SemtBucakBeldeAdi</td>
                                <td>@i.MahalleKodu</td>
                                <td>@i.MahalleAdi</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        }


    }
}

@section scriptSection {

    <script>
        $(document).ready(function () {
            $('#dts1').DataTable();
            $('#dts2').DataTable();
            $('#dts3').DataTable();
            $('#dts4').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

}