@using EFCore.AppLib.CodeFirst.Entities
@using EFCore.ViewModels

@model AdresViewModel

@section headSection {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
}

@{
    if (Model != null)
    {
        if ((Model as AdresViewModel).Iller != null)
        {
            <div class="container bg-light p-5 m-5">

                <h2>İller</h2><hr />

                <table id="dts1" class="display">
                    <thead>
                        <tr>
                            <th>İl Kodu</th>
                            <th>İl Adı</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (IL i in (Model as AdresViewModel).Iller)
                        {
                            <tr>
                                <td>@i.IlKod</td>
                                <td>@i.Il</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        }

        if ((Model as AdresViewModel).Ilceler != null)
        {
            <div class="container bg-light p-5 m-5">

                <h2>İlçeler</h2><hr />

                <table id="dts2" class="display">
                    <thead>
                        <tr>
                            <th>İl Kodu</th>
                            <th>İl Adı</th>
                            <th>İlçe Kodu</th>
                            <th>İlçe Adı</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ILCE i in (Model as AdresViewModel).Ilceler)
                        {
                            <tr>
                                <td>@i.Il.IlKod</td>
                                <td>@i.Il.Il</td>
                                <td>@i.IlceKod</td>
                                <td>@i.Ilce</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        }

        if ((Model as AdresViewModel).Sbbler != null)
        {
            <div class="container bg-light p-5 m-5">

                <h2>Semt - Bucak - Belde</h2><hr />

                <table id="dts3" class="display">
                    <thead>
                        <tr>
                            <th>İl Kodu</th>
                            <th>İl Adı</th>
                            <th>İlçe Kodu</th>
                            <th>İlçe Adı</th>
                            <th>SBB Kodu</th>
                            <th>SBB Adı</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (SBB i in (Model as AdresViewModel).Sbbler)
                        {
                            <tr>
                                <td>@i.Ilce.IlKod</td>
                                <td>@i.Ilce.Il.Il</td>
                                <td>@i.IlceKod</td>
                                <td>@i.Ilce.Ilce</td>
                                <td>@i.SbbKod</td>
                                <td>@i.SemtBucakBelde</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        }

        if ((Model as AdresViewModel).Mahalleler != null)
        {
            <div class="container bg-light p-5 m-5">

                <h2>Mahalleler</h2><hr />

                <table id="dts4" class="display">
                    <thead>
                        <tr>
                            <th>İl Kodu</th>
                            <th>İl Adı</th>
                            <th>İlçe Kodu</th>
                            <th>İlçe Adı</th>
                            <th>SBB Kodu</th>
                            <th>SBB Adı</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (MAHALLE i in (Model as AdresViewModel).Mahalleler)
                        {
                            <tr>
                                <td>@i.SemtBucakBelde.Ilce.IlKod</td>
                                <td>@i.SemtBucakBelde.Ilce.Il.IlKod</td>
                                <td>@i.SemtBucakBelde.IlceKod</td>
                                <td>@i.SemtBucakBelde.Ilce</td>
                                <td>@i.SbbKod</td>
                                <td>@i.SemtBucakBelde</td>
                                <td>@i.MahalleKod</td>
                                <td>@i.Mahalle</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        }


    }
}

@section scriptSection {

    <script>
        $(document).ready(function () {
            $('#dts1').DataTable();
            $('#dts2').DataTable();
            $('#dts3').DataTable();
            $('#dts4').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

}